@import "tailwindcss";
@import "tw-animate-css";

body {
  font-family: "open sans", sans-serif;
  padding-bottom: 1000px;
}

body.light {
  background-color: rgb(251, 186, 114);
  color: black;
}
body.dark {
  background-color: #1f2937; /* gray-800 #1f2937 */
  color: white;
}
